---
import CardPricing from "@components/CardPricing.astro";
const dataMonth = [
  {
    name: "Basic",
    pro: "0",
    enterprise: "0",
  },
];
---

<div
  id="pricing"
  class="w-full max-w-6xl mx-auto"
  x-intersect="activeStep = 'spy-3'"
>
  <div class="p-6 md:p-10 rounded-2xl bg-muted-200 dark:bg-muted-900">
    <!-- Botones de pestaña -->
    <div class="flex justify-center space-x-4 mb-6">
      <button
        id="monthlyTab"
        class="px-4 py-2 text-sm font-medium bg-primary-500 text-white rounded-lg focus:outline-none focus:ring-2 focus:ring-primary-300"
      >
        Mensual
      </button>
      <button
        id="annualTab"
        class="px-4 py-2 text-sm font-medium text-primary-500 border border-primary-500 rounded-lg focus:outline-none focus:ring-2 focus:ring-primary-300"
      >
        Anual
      </button>
    </div>

    <!-- Tarjetas Mensuales -->
    <div
      id="monthlyCards"
      class="grid md:grid-cols-2 ltablet:grid-cols-4 lg:grid-cols-4 gap-6"
    >
      <CardPricing
      text="Obtenga acceso a todas las funciones básicas y comience a crear"
      title="Gratis"
      value="0"
      time="Mensual"
      item1="1 Mascota"
      item2="5 Actividades al mes"
      item3="Historico mensual"
      />

      <CardPricing
      text="Obtenga acceso a todas las funciones premium y comience a administrar tu mascota"
      title="Basic"
      value="2,48"
      time="Mensual"
      item1="1 Mascota"
      item2="Actividades ilimitadas"
      item3="Hisorico ilimitado"
      item4="Añadir administradores"
      item5="Añadir medico"
      item6="Soporte personalizado"
      item7="Alertas por whatsapp"
      item8="Registro chip"
      item9="Lista de medicamentos"
      item10="Cuidados especiales"
      item11="Tabla informativa"
      />

      <CardPricing
      text="Obtenga acceso a todas las funciones premium y comience a administrar tu mascota"
      title="Premium"
      value="6,21"
      time="Mensual"
      item1="1 - 5 Mascota"
      item2="Actividades ilimitadas"
      item3="Hisorico ilimitado"
      item4="Añadir administradores"
      item5="Añadir medico"
      item6="Soporte personalizado"
      item7="Alertas por whatsapp"
      item8="Registro chip"
      item9="Lista de medicamentos"
      item10="Cuidados especiales"
      item11="Tabla informativa"
      />

      <CardPricing
      text="Obtenga acceso a todas las funciones premium y comience a administrar tu mascota"
      title="Premium +"
      value="18,64"
      time="Mensual"
      item1="1 - 10 Mascota"
      item2="Actividades ilimitadas"
      item3="Hisorico ilimitado"
      item4="Añadir administradores"
      item5="Añadir medico"
      item6="Soporte personalizado"
      item7="Alertas por whatsapp"
      item8="Registro chip"
      item9="Lista de medicamentos"
      item10="Cuidados especiales"
      item11="Tabla informativa"
      />
      
    </div>

    <!-- Tarjetas Anuales (ocultas inicialmente) -->
    <div
      id="annualCards"
      class="grid md:grid-cols-2 ltablet:grid-cols-4 lg:grid-cols-4 gap-6 hidden"
    >
    <CardPricing
    text="Obtenga acceso a todas las funciones básicas y comience a crear"
    title="Gratis"
    value="0"
    time="Anual"
    item1="1 Mascota"
    item2="5 Actividades al mes"
    item3="Historico mensual"
    />

    <CardPricing
    text="Obtenga acceso a todas las funciones premium y comience a administrar tu mascota"
    title="Basic"
    value="22,39"
    time="Anual"
    item1="1 Mascota"
    item2="Actividades ilimitadas"
    item3="Hisorico ilimitado"
    item4="Añadir administradores"
    item5="Añadir medico"
    item6="Soporte personalizado"
    item7="Alertas por whatsapp"
    item8="Registro chip"
    item9="Lista de medicamentos"
    item10="Cuidados especiales"
    item11="Tabla informativa"
    />

    <CardPricing
    text="Obtenga acceso a todas las funciones premium y comience a administrar tu mascota"
    title="Premium"
    value="49,74"
    time="Anual"
    item1="1 - 5 Mascota"
    item2="Actividades ilimitadas"
    item3="Hisorico ilimitado"
    item4="Añadir administradores"
    item5="Añadir medico"
    item6="Soporte personalizado"
    item7="Alertas por whatsapp"
    item8="Registro chip"
    item9="Lista de medicamentos"
    item10="Cuidados especiales"
    item11="Tabla informativa"
    />

    <CardPricing
    text="Obtenga acceso a todas las funciones premium y comience a administrar tu mascota"
    title="Premium +"
    value="174,11"
    time="Anual"
    item1="1 - 10 Mascota"
    item2="Actividades ilimitadas"
    item3="Hisorico ilimitado"
    item4="Añadir administradores"
    item5="Añadir medico"
    item6="Soporte personalizado"
    item7="Alertas por whatsapp"
    item8="Registro chip"
    item9="Lista de medicamentos"
    item10="Cuidados especiales"
    item11="Tabla informativa"
    />

    </div>
  </div>
</div>

<script>
  const monthlyTab = document.getElementById("monthlyTab");
  const annualTab = document.getElementById("annualTab");
  const monthlyCards = document.getElementById("monthlyCards");
  const annualCards = document.getElementById("annualCards");

  // Eventos para cambiar entre pestañas
  monthlyTab.addEventListener("click", () => {
    monthlyTab.classList.add("bg-primary-500", "text-white");
    annualTab.classList.remove("bg-primary-500", "text-white");
    monthlyCards.style.display = "grid";
    annualCards.style.display = "none";
  });

  annualTab.addEventListener("click", () => {
    annualTab.classList.add("bg-primary-500", "text-white");
    monthlyTab.classList.remove("bg-primary-500", "text-white");
    annualCards.style.display = "grid";
    monthlyCards.style.display = "none";
  });

  // Por defecto, muestra la pestaña Mensual
  monthlyTab.click();
</script>
